<div [class]="('kcHtmlClass' | kcClass)">
<div [class]="('kcBodyClass' | kcClass)">
  <div [class]="('kcLoginClass' | kcClass)">
    <div id="kc-header" [class]="('kcHeaderClass' | kcClass)">
      <div id="kc-header-wrapper" [class]="('kcHeaderWrapperClass' | kcClass)">
        <div [innerHTML]="kcContext.realm.displayNameHtml! | sanitizeHtml"></div>
      </div>
    </div>
    @if(kcContext) {
    <div [class]="('kcFormCardClass' | kcClass)">
      <header [class]="('kcFormHeaderClass' | kcClass)">
        <!-- Locale switcher -->
        @if(kcContext.realm.internationalizationEnabled) {
        <div id="kc-locale" [class]="('kcLocaleMainClass' | kcClass)">
          <div id="kc-locale-wrapper" [class]="('kcLocaleWrapperClass' | kcClass)">
            <div [class]="('kcLocaleDropDownClass' | kcClass) + 'menu-button-links'" id="kc-locale-dropdown">
              <button tabindex="1" id="kc-current-locale-link" aria-label="Sprachen" aria-haspopup="true" aria-expanded="false" aria-controls="language-switch1">{{locale?.currentLanguageTag}}</button>
              <ul role="menu" tabindex="-1" aria-labelledby="kc-current-locale-link" aria-activedescendant="" id="language-switch1" [class]="('kcLocaleListClass' | kcClass)">
                @for(locale of kcContext.locale?.supported; track locale; let idx = $index) {
                  <li [class]="('kcLocaleListItemClass' | kcClass)" role="none">
                    <a role="menuitem" tabindex="-1" [href]="locale.url" [id]="'language-'+idx">{{locale.label}}</a>
                  </li>
                }

              </ul>
            </div>
          </div>
        </div>
        }
        
        <!-- Header content -->
        @if(headerTemplate) {
          <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        }
      </header>

      <div id="kc-content">
        <div id="kc-content-wrapper">
          <!-- Message display -->
          @if(kcContext.message) {
          <div [class]="['alert', 'alert-' + kcContext.message.type | kcClass]">
            <span
              [class]="('kcFeedback' + kcContext.message.type.charAt(0).toUpperCase() + kcContext.message.type.slice(1) + 'Icon' | kcClass)"></span>
            <span class="kc-feedback-text" [innerHTML]="kcContext.message.summary"></span>
          </div>
          }

          <!-- Content -->
          <router-outlet (activate)="onRouterOutletActivate($event)" name="login"></router-outlet>
          <!-- Info display -->

          <div id="kc-info" [class]="('kcSignUpClass' | kcClass)">
            <div id="kc-info-wrapper" [class]="('kcInfoAreaWrapperClass' | kcClass)">
              @switch (kcContext.pageId) {
              @case ('login.ftl') {
              <div id="kc-registration">
                <span> Noch keinen Account?
                  <a tabIndex={6} [href]="kcContext.url.registrationUrl">
                    Jetzt Registrieren
                  </a>
                </span>
              </div>
              }
              }
            </div>
          </div>
        </div>
      </div>
      
    </div>
    }
  </div>
</div>