@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<ng-template #headerNode>
  {{ i18n.msgStr('updatePasswordTitle') }}
</ng-template>
<form
  id="kc-passwd-update-form"
  method="post"
  [kcClass]="'kcFormClass'"
  [action]="url.loginAction"
  onsubmit="isLoginButtonDisabled.set(true)"
>
  <kc-password name="password-new" [label]="i18n.msgStr('password')" fieldName="password" autocomplete="new-password"
               [autofocus]="true"></kc-password>
  <kc-password name="password-confirm" label="passwordConfirm" autocomplete="new-password"></kc-password>

  <div kcClass="kcFormGroupClass">
    <kc-logout-other-sessions></kc-logout-other-sessions>
  </div>
  <kc-action-group [horizontal]="true">
    @if (isAppInitiatedAction) {
      <button
        id="kc-submit-with-cancel" name="login" kcClass="kcButtonPrimaryClass">
        {{ i18n.msgStr('doSubmit') }}
      </button>
      <button id="kc-cancel" name="cancel-aia" kcClass="kcButtonSecondaryClass">
        {{ i18n.msgStr('doCancel') }}
      </button>
    } @else {
      <button id="kc-submit" name="login" [kcClass]="['kcButtonPrimaryClass', 'kcButtonBlockClass']">
        {{ i18n.msgStr('doSubmit') }}
      </button>
    }
  </kc-action-group>

</form>
