@let attr = attribute();
@if (attr) {
    @let type = attr.annotations.inputType;
    @switch (type) {
        @case ('textarea') {
            <kc-textarea-tag
                [attribute]="attribute()"
                [value]="$any(valueOrValues())"
                [displayableErrors]="displayableErrors()"
                (dispatchFormAction)="dispatchFormAction.emit($event)"
            />
        }
        @case (type === 'select' || type === 'multiselect' ? type : '') {
            <kc-select-tag
                [attribute]="attribute()"
                [valueOrValues]="valueOrValues()"
                [displayableErrors]="displayableErrors()"
                (dispatchFormAction)="dispatchFormAction.emit($event)"
            />
        }
        @case (type === 'select-radiobuttons' || type === 'multiselect-checkboxes' ? type : '') {
            <kc-input-tag-selects
                [attribute]="attribute()"
                [valueOrValues]="valueOrValues()"
                [displayableErrors]="displayableErrors()"
                (dispatchFormAction)="dispatchFormAction.emit($event)"
            />
        }
        @default {
            @let values = valueOrValues();
            <!-- if valueOrValues is string skip -->
            @if (values && (values | toArray: true).length) {
                @for (value of values; track value; let i = $index) {
                    <kc-input-tag
                        [attribute]="attribute()"
                        [valueOrValues]="valueOrValues()"
                        [fieldIndex]="i"
                        [displayableErrors]="displayableErrors()"
                        (dispatchFormAction)="dispatchFormAction.emit($event)"
                    />
                }
            } @else {
                @if (attr.name === 'password' || attr.name === 'password-confirm') {
                    <kc-password-wrapper [passwordInputId]="attr.name">
                        <kc-input-tag
                            [attribute]="attributePassword()"
                            [valueOrValues]="valueOrValues()"
                            [displayableErrors]="displayableErrors()"
                            (dispatchFormAction)="dispatchFormAction.emit($event)"
                        />
                    </kc-password-wrapper>
                } @else {
                    <kc-input-tag
                        [attribute]="attribute()"
                        [valueOrValues]="valueOrValues()"
                        [displayableErrors]="displayableErrors()"
                        (dispatchFormAction)="dispatchFormAction.emit($event)"
                    />
                }
            }
        }
    }
}
