@let realm = kcContext.realm;
@let usernameHidden = kcContext.usernameHidden;
@let auth = kcContext.auth;
@let messagesPerField = kcContext.messagesPerField;
@let url = kcContext.url;
@let login = kcContext.login;

<ng-template #headerNode>
    {{ i18n.msgStr('loginAccountTitle') }}
</ng-template>
<ng-template #infoNode>
    @let url = kcContext.url;
    <div id="kc-registration-container">
        <div id="kc-registration">
            <span>
                {{ i18n.msgStr('noAccount') }}
                <a
                    tabindex="8"
                    [href]="url?.registrationUrl"
                >
                    {{ i18n.msgStr('doRegister') }}
                </a>
            </span>
        </div>
    </div>
</ng-template>
<ng-template #socialProvidersNode>
    @let realm = kcContext.realm;
    @let social = kcContext.social;
    @if (!!realm?.password && !!social?.providers?.length) {
        <div
            id="kc-social-providers"
            [kcClass]="'kcFormSocialAccountSectionClass'"
        >
            <hr />
            <h2>{{ i18n.msgStr('identity-provider-login-label') }}</h2>
            <ul
                [kcClass]="{
                    kcFormSocialAccountListClass: true,
                    kcFormSocialAccountListGridClass: (social?.providers?.length ?? 0) > 3
                }"
            >
                @for (provider of social?.providers; track provider.alias; let idx = $index) {
                    <li>
                        <a
                            type="button"
                            [id]="provider.alias"
                            [kcClass]="{
                                kcFormSocialAccountListButtonClass: true,
                                kcFormSocialAccountGridItem: (social?.providers?.length ?? 0) > 3
                            }"
                            [href]="provider.loginUrl"
                        >
                            @if (provider.iconClasses) {
                                <i
                                    aria-hidden="true"
                                    [ngClass]="provider.iconClasses"
                                    [kcClass]="'kcCommonLogoIdP'"
                                ></i>
                            }
                            <span
                                [ngClass]="{
                                    'kc-social-icon-text': provider.iconClasses
                                }"
                                [kcClass]="'kcFormSocialAccountNameClass'"
                                [innerHTML]="provider.displayName | kcSanitize: 'html'"
                            ></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</ng-template>
<div id="kc-form">
    <div id="kc-form-wrapper">
        <!-- login.component.html -->
        @if (realm?.password) {
            <form
                id="kc-form-login"
                method="post"
                [action]="url?.loginAction"
                (onSubmit)="isLoginButtonDisabled.set(true)"
            >
                @if (!usernameHidden) {
                    <div [kcClass]="'kcFormGroupClass'">
                        <label
                            for="username"
                            [kcClass]="'kcLabelClass'"
                        >
                            @if (!realm?.loginWithEmailAllowed) {
                                {{ i18n.msgStr('username') }}
                            } @else if (!realm?.registrationEmailAsUsername) {
                                {{ i18n.msgStr('usernameOrEmail') }}
                            } @else {
                                {{ i18n.msgStr('email') }}
                            }
                        </label>
                        <input
                            tabindex="2"
                            id="username"
                            name="username"
                            type="text"
                            autofocus
                            [kcClass]="'kcInputClass'"
                            [defaultValue]="login?.username || ''"
                            [attr.aria-invalid]="messagesPerField?.existsError('username', 'password')"
                        />
                        @if (messagesPerField?.existsError('username', 'password')) {
                            <span
                                id="input-error"
                                aria-live="polite"
                                [kcClass]="'kcInputErrorMessageClass'"
                                [innerHTML]="messagesPerField.getFirstError('username', 'password') | kcSanitize: 'html'"
                            >
                            </span>
                        }
                    </div>
                }

                <div [kcClass]="'kcFormGroupClass'">
                    <label
                        for="password"
                        [kcClass]="'kcLabelClass'"
                    >
                        {{ i18n.msgStr('password') }}
                    </label>

                    <kc-password-wrapper passwordInputId="password">
                        <input
                            tabindex="3"
                            id="password"
                            name="password"
                            type="password"
                            autocomplete="off"
                            [kcClass]="'kcInputClass'"
                            [attr.aria-invalid]="messagesPerField.existsError('username', 'password')"
                        />
                    </kc-password-wrapper>
                    @if (usernameHidden && messagesPerField?.existsError('username', 'password')) {
                        <span
                            id="input-error"
                            aria-live="polite"
                            [kcClass]="'kcInputErrorMessageClass'"
                            [innerHTML]="messagesPerField.getFirstError('username', 'password') | kcSanitize: 'html'"
                        >
                        </span>
                    }
                </div>

                <div [kcClass]="['kcFormGroupClass', 'kcFormSettingClass']">
                    <div id="kc-form-options">
                        @if (realm?.rememberMe && !usernameHidden) {
                            <div class="checkbox">
                                <label>
                                    <input
                                        tabindex="5"
                                        id="rememberMe"
                                        name="rememberMe"
                                        type="checkbox"
                                        [defaultChecked]="!!login?.rememberMe"
                                    />
                                    {{ i18n.msgStr('rememberMe') }}
                                </label>
                            </div>
                        }
                    </div>

                    <div [kcClass]="'kcFormOptionsWrapperClass'">
                        @if (realm?.resetPasswordAllowed) {
                            <span>
                                <a
                                    tabindex="6"
                                    [href]="url?.loginResetCredentialsUrl"
                                    >{{ i18n.msgStr('doForgotPassword') }}</a
                                >
                            </span>
                        }
                    </div>
                </div>
                <div
                    id="kc-form-buttons"
                    [kcClass]="'kcFormGroupClass'"
                >
                    <input
                        type="hidden"
                        id="id-hidden-input"
                        name="credentialId"
                        [value]="auth?.selectedCredential"
                    />
                    <input
                        tabindex="7"
                        name="login"
                        id="kc-login"
                        type="submit"
                        [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
                        [value]="i18n.msgStr('doLogIn')"
                        [disabled]="isLoginButtonDisabled()"
                    />
                </div>
            </form>
        }
    </div>
</div>
