<!-- login.component.html -->
<form id="kc-form-login" [action]="kcContext.url.loginAction" method="post">
  <label for="username" [class]="getClassName('kcLabelClass')">
    Benutzername
  </label>
  <input tabIndex="2" id="username" name="username" [class]="getClassName('kcInputClass')" type="text" autofocus
    autocomplete="off" />
  <div [class]="getClassName('kcFormGroupClass')">
    <label for="password" [class]="getClassName('kcLabelClass')">
      Passwort
    </label>
    <input tabIndex="2" id="password" [class]="getClassName('kcInputClass')" name="password" type="password"
      autocomplete="off" />
  </div>
  <div [class]="getClassName('kcFormGroupClass') + ' ' + getClassName('kcFormSettingClass')">
    <div id="kc-form-options">
      @if (kcContext.realm.rememberMe && !kcContext.usernameHidden) {
      <div class="checkbox">
        <label>
          <input tabIndex="3" id="rememberMe" name="rememberMe" type="checkbox"
            [checked]="kcContext.login.rememberMe === 'on'" />
          Login merken
        </label>
      </div>
      }
      @if (kcContext.realm.registrationAllowed)
      {
      <div [class]="getClassName('kcFormOptionsWrapperClass')">
        <span> <a tabIndex={5} [href]="kcContext.url.loginResetCredentialsUrl"> Passwort vergessen </a> </span>
      </div>
      }
    </div>
  </div>
  <div id="kc-form-buttons" [class]="getClassName('kcFormGroupClass')">
    <input type="hidden" id="id-hidden-input" name="credentialId" [value]="kcContext.auth?.selectedCredential" />
    <input tabIndex="4"
      [class]="getClassName('kcButtonClass') + ' ' + getClassName('kcButtonPrimaryClass') + ' ' + getClassName('kcButtonBlockClass') + ' ' + getClassName('kcButtonLargeClass')"
      name="login" id="kc-login" type="submit" value="Einloggen" [disabled]="kcContext.isLoginButtonDisabled" />
  </div>
</form>