@let recoveryAuthnCodesConfigBean = kcContext.recoveryAuthnCodesConfigBean;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<ng-template #headerNode>
  {{ i18n.msgStr('recovery-code-config-header') }}
</ng-template>

<div
  class="pf-c-alert pf-m-warning pf-m-inline"
  aria-label="Warning alert"
  [kcClass]="'kcRecoveryCodesWarning'"
>
  <div [kcClass]="'kcAlertIconClass'">
    <i class="fas fa-fw fa-bell" aria-hidden="true"></i>
  </div>
  <h4 [kcClass]="'kcAlertTitleClass'">
    <span class="pf-screen-reader">Warning alert:</span>
    {{ i18n.msgStr('recovery-code-config-warning-title') }}
  </h4>
  <div [kcClass]="'kcAlertDescriptionClass'">
    <p>{{ i18n.msgStr('recovery-code-config-warning-message') }}</p>
  </div>
</div>


<div [kcClass]="'kcPanelClass'">
  <div [kcClass]="'kcPanelMainClass'">
    <div [kcClass]="'kcPanelMainBodyClass'">
      <ol
        id="kc-recovery-codes-list"
        [kcClass]="'kcListClass'"
        role="list"
      >
        @for (code of recoveryAuthnCodesConfigBean.generatedRecoveryAuthnCodesList; track code; let i = $index) {
          <li>
            {{ code.substring(0, 4) }}-{{ code.substring(4, 8) }}-{{ code.substring(8) }}
          </li>
        }
      </ol>
    </div>
  </div>
</div>


<!-- actions -->
<div [kcClass]="'kcRecoveryCodesActions'">
  <button
    id="printRecoveryCodes"
    [kcClass]="'kcButtonLinkClass'"
    type="button"
    onclick="printRecoveryCodes()"
  >
    <i class="fas fa-print"></i> {{ i18n.msgStr('recovery-codes-print') }}
  </button>
  <button
    id="downloadRecoveryCodes"
    [kcClass]="'kcButtonLinkClass'"
    type="button"
    onclick="downloadRecoveryCodes()"
  >
    <i class="fas fa-download"></i> {{ i18n.msgStr('recovery-codes-download') }}
  </button>
  <button
    id="copyRecoveryCodes"
    [kcClass]="'kcButtonLinkClass'"
    type="button"
    onclick="copyRecoveryCodes()"
  >
    <i class="fas fa-copy"></i> {{ i18n.msgStr('recovery-codes-copy') }}
  </button>
</div>


<!-- confirmation checkbox -->
<div
  class="checkbox"
  [kcClass]="'kcFormOptionsClass'"
>
  <label for="kcRecoveryCodesConfirmationCheck">
    <input
      type="checkbox"
      id="kcRecoveryCodesConfirmationCheck"
      name="kcRecoveryCodesConfirmationCheck"
      [kcClass]="'kcCheckInputClass'"
      [checked]="toggleRecoveryCodesConfirmation()"
      (change)="toggleRecoveryCodesConfirmation.set($any($event.target).checked)"
    />
    {{ i18n.msgStr('recovery-codes-confirmation-message') }}
  </label>
</div>

<form [action]="kcContext.url.loginAction"
      [kcClass]="'kcFormGroupClass'"
      id="kc-recovery-codes-settings-form"
      method="post">
  <input type="hidden"
         name="generatedRecoveryAuthnCodes"
         [value]="recoveryAuthnCodesConfigBean.generatedRecoveryAuthnCodesAsString"/>
  <input type="hidden"
         name="generatedAt"
         [value]="recoveryAuthnCodesConfigBean.generatedAt"/>
  <input type="hidden"
         id="userLabel"
         name="userLabel"
         [value]="i18n.msgStr('recovery-codes-label-default')"/>
  <kc-logout-other-sessions/>
  @if (isAppInitiatedAction) {
    <input type="submit"
           [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
           id="saveRecoveryAuthnCodesBtn"
           [value]="i18n.msgStr('recovery-codes-action-complete')"
           [disabled]="!toggleRecoveryCodesConfirmation()"
    />
    <button type="submit"
            [kcClass]="['kcButtonClass', 'kcButtonDefaultClass', 'kcButtonLargeClass']"
            id="cancelRecoveryAuthnCodesBtn"
            name="cancel-aia"
            value="true">
      {{ i18n.msgStr('recovery-codes-action-cancel') }}
    </button>
  } @else {
    <input type="submit"
           [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
           id="saveRecoveryAuthnCodesBtn"
           [value]="i18n.msgStr('recovery-codes-action-complete')"
           [disabled]="!toggleRecoveryCodesConfirmation()"
    />
  }


</form>
