<form id="kc-register-form" [class]="getClassName('kcFormClass')" [action]="kcContext.url.registrationAction"
    method="post">
    <div [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('firstName', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="firstName" [class]="getClassName('kcLabelClass')">Vorname</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="text" id="firstName" [class]="getClassName('kcInputClass')" name="firstName" formControlName="firstName" />
        </div>
    </div>


    <div
        [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('lastName', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="lastName" [class]="getClassName('kcLabelClass')">Nachname</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="text" id="lastName" [class]="getClassName('kcInputClass')" name="lastName"
                formControlName="lastName" />
        </div>
    </div>

    <div
        [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('email', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="email" [class]="getClassName('kcLabelClass')">E-Mail</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="text" id="email" [class]="getClassName('kcInputClass')" name="email" formControlName="email" />
        </div>
    </div>

    @if(!kcContext.realm.registrationEmailAsUsername) {
    <div
        [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('username', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="username" [class]="getClassName('kcLabelClass')">Benutzername</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="text" id="username" [class]="getClassName('kcInputClass')" name="username"
                formControlName="username" />
        </div>
    </div>
    }

    @if(kcContext.passwordRequired) {
    <div
        [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('password', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="password" [class]="getClassName('kcLabelClass')">Passwort</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="password" id="password" [class]="getClassName('kcInputClass')" name="password"
                autoComplete="new-password" />
        </div>
    </div>


    <div
        [class]="getClassName('kcFormGroupClass') + ' ' + kcContext.messagesPerField.printIfExists('password-confirm', getClassName('kcFormGroupErrorClass'))">
        <div class="kcLabelWrapperClass">
            <label for="password-confirm" [class]="getClassName('kcLabelClass')">Passwort bestätigen</label>
        </div>
        <div class="kcInputWrapperClass">
            <input type="password" id="password-confirm" [class]="getClassName('kcInputClass')"
                name="password-confirm" />
        </div>
    </div>
    }

    <div [class]="getClassName('kcFormGroupClass')">
        <div id="kc-form-options" [class]="getClassName('kcFormOptionsClass')">
            <div [class]="getClassName('kcFormOptionsWrapperClass')">
                <span><a [href]="kcContext.url.loginUrl">Zurück zum Login</a></span>
            </div>
        </div>
        <div id="kc-form-buttons" [class]="getClassName('kcFormGroupClass')">
            <input type="hidden" id="id-hidden-input" name="credentialId" [value]="kcContext.auth?.selectedCredential" />
            <input tabIndex="4"
              [class]="getClassName('kcButtonClass') + ' ' + getClassName('kcButtonPrimaryClass') + ' ' + getClassName('kcButtonBlockClass') + ' ' + getClassName('kcButtonLargeClass')"
              name="login" id="kc-login" type="submit" value="Registrieren" [disabled]="kcContext.isRegisterButtonDisabled" />
          </div>
    </div>
</form>