@let attr = attribute();
@let multiple = isMultiple();
@if (attr) {
    <select
        [id]="attr.name"
        [name]="attr.name"
        [value]="valueOrValues()"
        [kcClass]="'kcInputClass'"
        [attr.aria-invalid]="!!displayableErrors()?.length"
        [disabled]="attr.readOnly"
        [multiple]="multiple"
        [size]="!attr.annotations.inputTypeSize ? undefined : (attr.annotations.inputTypeSize | toNumber)"
        (change)="onChange($event)"
        (blur)="onBlur()"
    >
        @if (!multiple) {
            <option value=""></option>
        }
        @for (option of options(); track option) {
            <option [value]="option">
                @if (!!attr.annotations.inputOptionLabels) {
                    {{ i18n.advancedMsgStr(attr.annotations.inputOptionLabels[option] ?? option) }}
                } @else if (!!attr.annotations.inputOptionLabelsI18nPrefix) {
                    {{ i18n.advancedMsgStr(attr.annotations.inputOptionLabelsI18nPrefix + '.' + option) }}
                } @else {
                    {{ option }}
                }
            </option>
        }
    </select>
}
