@let code = kcContext.code;

<ng-template #headerNode>
    @let code = kcContext.code;
    @if (code.success) {
        {{ i18n.msgStr('codeSuccessTitle') }}
    } @else {
        {{ i18n.msgStr('codeErrorTitle', code.error) }}
    }
</ng-template>

<div id="kc-code">
    @if (code.success) {
        <p>{{ i18n.msgStr('copyCodeInstruction') }}</p>
        <kc-input
            name="code"
            [label]="''"
            [value]="code.code ?? ''"
        ></kc-input>
    } @else {
        <p id="error">{{ code.error }}</p>
    }
</div>
