@if(i18nService.i18n$ | async; as i18n) {
    <form
      id="kc-passwd-update-form"
      [class]=" 'kcFormClass' | kcClass"
      [attr.action]="kcContext.url.loginAction"
      method="post"
    >
      <div [class]=" 'kcFormGroupClass' | kcClass">
        <div [class]=" 'kcLabelWrapperClass' | kcClass">
          <label for="password-new" [class]=" 'kcLabelClass' | kcClass">
            {{ i18n.msgStr("passwordNew") }}
          </label>
        </div>
        <div [class]=" 'kcInputWrapperClass' | kcClass">
          <kc-password-wrapper
            passwordInputId="password-new"
          >
            <input
              type="password"
              id="password-new"
              name="password-new"
              [class]=" 'kcInputClass' | kcClass"
              autofocus
              autocomplete="new-password"
              [attr.aria-invalid]="kcContext.messagesPerField.existsError('password', 'password-confirm') ? true : null"
            />
          </kc-password-wrapper>
          @if(kcContext.messagesPerField.existsError('password')) {
          <span
            id="input-error-password"
            [class]=" 'kcInputErrorMessageClass' | kcClass"
            aria-live="polite"
            [innerHTML]="kcContext.messagesPerField.get('password') | sanitizeHtml"
          ></span>
          }
        </div>
      </div>
      <div [class]=" 'kcFormGroupClass' | kcClass">
        <div [class]=" 'kcLabelWrapperClass' | kcClass">
          <label for="password-confirm" [class]=" 'kcLabelClass' | kcClass">
            {{ i18n.msgStr("passwordConfirm") }}
          </label>
        </div>
        <div [class]=" 'kcInputWrapperClass' | kcClass">
          <kc-password-wrapper
            passwordInputId="password-confirm"
          >
            <input
              type="password"
              id="password-confirm"
              name="password-confirm"
              [class]=" 'kcInputClass' | kcClass"
              autofocus
              autocomplete="new-password"
              [attr.aria-invalid]="kcContext.messagesPerField.existsError('password', 'password-confirm') ? true : null"
            />
          </kc-password-wrapper>
          @if(kcContext.messagesPerField.existsError('password-confirm')) {
          <span
            id="input-error-password-confirm"
            [class]=" 'kcInputErrorMessageClass' | kcClass"
            aria-live="polite"
            [innerHTML]="kcContext.messagesPerField.get('password-confirm') | sanitizeHtml"
          ></span>
          }
        </div>
      </div>
      <div [class]=" 'kcFormGroupClass' | kcClass">
        <kc-logout-other-sessions [i18n]="i18n"
        ></kc-logout-other-sessions>
        <div id="kc-form-buttons" [class]=" 'kcFormButtonsClass' | kcClass">
          <input
            [class]="
              ('kcButtonClass' | kcClass) +
                ' ' +
                ('kcButtonPrimaryClass' | kcClass) +
                ' ' +
                ('kcButtonLargeClass' | kcClass) +
                (!kcContext.isAppInitiatedAction ? ('kcButtonBlockClass' | kcClass) : '')

            "
            type="submit"
            [attr.value]="i18n.msgStr('doSubmit')"
          />
          @if(kcContext.isAppInitiatedAction) {
          <button
            [class]="
              ('kcButtonClass' | kcClass) + ' ' +
              ('kcButtonDefaultClass' | kcClass) + ' ' +
              ('kcButtonLargeClass' | kcClass)
            "
            type="submit"
            name="cancel-aia"
            value="true"
          >
            {{ i18n.msgStr("doCancel") }}
          </button>
          }
        </div>
      </div>
    </form>
    }
    