<div [kcClass]="'kcInputGroup'">
    <ng-content />
    <button
        type="button"
        [kcClass]="'kcFormPasswordVisibilityButtonClass'"
        [attr.aria-label]="i18n.msgStr(isPasswordRevealed() ? 'hidePassword' : 'showPassword')"
        [attr.aria-controls]="passwordInputId()"
        (click)="togglePasswordVisibility()"
    >
        <i
            aria-hidden="true"
            [kcClass]="isPasswordRevealed() ? 'kcFormPasswordVisibilityIconHide' : 'kcFormPasswordVisibilityIconShow'"
        ></i>
    </button>
</div>
