<div [class]="('kcInputGroup' | kcClass)">
    <ng-content></ng-content>
    <button
      type="button"
      [class]="('kcFormPasswordVisibilityButtonClass' | kcClass)"
      [attr.aria-label]="i18n.msgStr(isPasswordRevealed ? 'hidePassword' : 'showPassword')"
      [attr.aria-controls]="passwordInputId"
      (click)="togglePasswordVisibility()"
    >
      <i [class]="isPasswordRevealed ? ('kcFormPasswordVisibilityIconHide' | kcClass) : ('kcFormPasswordVisibilityIconShow' | kcClass)" aria-hidden="true"></i>
    </button>
  </div>