@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;

<ng-template #headerNode>
  @let credentialLabel = kcContext.credentialLabel;
  {{ i18n.msgStr('deleteCredentialTitle', credentialLabel) }}
</ng-template>

<div
  id="kc-delete-text"
  [kcClass]="'kcContentWrapperClass'"
>
  {{ i18n.msgStr('deleteCredentialMessage', credentialLabel) }}
</div>

<form
  class="form-actions"
  method="post"
  [kcClass]="'kcFormClass'"
  [action]="url.loginAction"
>
  <kc-action-group>
    <button

      name="accept"
      id="kc-accept"
      kcClass="kcButtonPrimaryClass"
    >
      {{ i18n.msgStr('doConfirmDelete') }}
    </button>
    <button
      name="cancel-aia"
      id="kc-decline"
      kcClass="kcButtonSecondaryClass"
    >
      {{ i18n.msgStr('doDecline') }}
    </button>
  </kc-action-group>
</form>
