@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;

<ng-template #headerNode>
    @let credentialLabel = kcContext.credentialLabel;
    {{ i18n.msgStr('deleteCredentialTitle', credentialLabel) }}
</ng-template>

<div
    id="kc-delete-text"
    [kcClass]="'kcContentWrapperClass'"
>
    {{ i18n.msgStr('deleteCredentialMessage', credentialLabel) }}
</div>

<form
    class="form-actions"
    method="post"
    [kcClass]="'kcFormClass'"
    [action]="url.loginAction"
>
    <kc-action-group>
        <kc-button
            name="accept"
            id="kc-accept"
            classList="kcButtonPrimaryClass"
            label="doConfirmDelete"
        ></kc-button>
        <kc-button
            name="cancel-aia"
            id="kc-decline"
            classList="kcButtonSecondaryClass"
            label="doDecline"
        ></kc-button>
    </kc-action-group>
</form>
