<kc-group [name]="name()" [label]="label()" [error]="error()" [required]="required()">
  <div [kcClass]="'kcInputGroup'">
    <div [kcClass]="{'kcInputGroupItemClass': true, 'kcFill': true}">
      <span [kcClass]="{ 'kcInputClass': true, 'kcError': !!error() }">
        <input
          #passwordInput
          [id]="name()"
          [name]="name()"
          [value]="value()"
          type="password"
          [autocomplete]="autocomplete()"
          [attr.autofocus]="autofocus() ? '' : null">
        <kc-error-icon [error]="error()"></kc-error-icon>
      </span>
      
    </div>

    <div [kcClass]="'kcInputGroupItemClass'">
      <button
        #passwordToggleButton
        [kcClass]="'kcFormPasswordVisibilityButtonClass'"
        type="button"
        [attr.aria-label]="i18n.msgStr('showPassword')"
        [attr.aria-controls]="name()"
        data-password-toggle
        data-icon-show="fa-eye fas"
        data-icon-hide="fa-eye-slash fas"
        [attr.data-label-show]="i18n.msgStr('showPassword')"
        [attr.data-label-hide]="i18n.msgStr('hidePassword')"
      >
        <i class="fa-eye fas" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div [kcClass]="'kcFormHelperTextClass'" aria-live="polite">
    <div [kcClass]="'kcInputHelperTextClass'">
      <ng-content></ng-content>
      @if (forgotPassword()) {
        <div [kcClass]="'kcInputHelperTextItemClass'">
        <span [kcClass]="'kcInputHelperTextItemTextClass'">
          <a [href]="kcContext.url.loginResetCredentialsUrl">{{ i18n.msgStr('doForgotPassword') }}</a>
        </span>
        </div>
      }
    </div>
  </div>
</kc-group>
