@let url = kcContext.url;
@let realm = kcContext.realm;

<ng-template #headerNode>
    {{ i18n.msgStr('doLogIn') }}
</ng-template>

<div id="kc-form">
    <div id="kc-form-wrapper">
        <form
            id="kc-form-login"
            method="post"
            [kcClass]="'kcFormClass'"
            [action]="url?.loginAction"
            (onSubmit)="isLoginButtonDisabled.set(true)"
        >
            <kc-password
                name="password"
                [label]="i18n.msgStr('password')"
                [forgotPassword]="realm.resetPasswordAllowed"
                [autofocus]="true"
                [autocomplete]="'current-password'"
                error=""
            ></kc-password>
            <kc-login-button></kc-login-button>
        </form>
    </div>
</div>
