@let client = kcContext.client;
@let oauth = kcContext.oauth;
@let url = kcContext.url;

<ng-template #headerNode>
    @let client = kcContext.client;
    @if (client.attributes['logoUri']) {
        <img [src]="client.attributes['logoUri']" />
    }
    <p>
        {{ i18n.msgStr('oauthGrantTitle', client.name ? i18n.advancedMsgStr(client.name) : client.clientId) }}
    </p>
</ng-template>

<div
    id="kc-oauth"
    class="content-area"
>
    <h3>{{ i18n.msgStr('oauthGrantRequest') }}</h3>
    <ul [kcClass]="'kcListClass'">
        @for (clientScope of oauth.clientScopesRequested; track clientScope) {
            <li>
                <span>
                    {{ i18n.advancedMsgStr(clientScope.consentScreenText) }}
                    @if (clientScope.dynamicScopeParameter) {
                        : <b>{{ clientScope.dynamicScopeParameter }}</b>
                    } @else {
                        {{ i18n.advancedMsgStr(clientScope.consentScreenText) }}: <b>{{ clientScope.dynamicScopeParameter }}</b>
                    }
                </span>
            </li>
        }
    </ul>
    @if (client.attributes['policyUri'] || client.attributes['tosUri']) {
        <h3>
            @if (client.name) {
                {{ i18n.msgStr('oauthGrantInformation', i18n.advancedMsgStr(client.name)) }}
            } @else {
                {{ i18n.msgStr('oauthGrantInformation', client.clientId) }}
            }
            @if (client.attributes['tosUri']) {
                {{ i18n.msgStr('oauthGrantReview') }}
                <a
                    target="_blank"
                    [href]="client.attributes['tosUri']"
                >
                    {{ i18n.msgStr('oauthGrantTos') }}
                </a>
            }
            @if (client.attributes['policyUri']) {
                {{ i18n.msgStr('oauthGrantReview') }}
                <a
                    target="_blank"
                    [href]="client.attributes['policyUri']"
                >
                    {{ i18n.msgStr('oauthGrantPolicy') }}
                </a>
            }
        </h3>
    }
    <form
        [kcClass]="['kcFormClass', 'kcMarginTopClass']"
        method="post"
        [action]="url.oauthAction"
    >
        <input
            type="hidden"
            name="code"
            [value]="oauth.code"
        />
        <kc-action-group>
            <kc-button
                id="kc-login"
                name="accept"
                label="doYes"
            ></kc-button>
            <kc-button
                id="kc-cancel"
                name="cancel"
                label="doNo"
                classList="kcButtonSecondaryClass"
            ></kc-button>
        </kc-action-group>
    </form>
</div>
