@if(i18n$ | async; as i18n) {

<ng-template #headerNode>
  <h1>This is the Header Content from Child Component</h1>
</ng-template>

<ng-template #infoNode>
  <div id="kc-registration-container">
    <div id="kc-registration">
      <span>
        {{i18n.msgStr("noAccount")}}
        <a tabIndex={8} href={url.registrationUrl}>
          {{i18n.msgStr("doRegister")}}
        </a>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #socialProvidersNode>
  @if(kcContext.realm.password && kcContext.social.providers?.length) {

  <div id="kc-social-providers" [class]="('kcFormSocialAccountSectionClass' | kcClass)">
    <hr />
    <h2>{{i18n.msgStr("identity-provider-login-label")}}</h2>
    <ul
      [class]="('kcFormSocialAccountListClass' | kcClass) && kcContext.social.providers.length > 3 ? ('kcFormSocialAccountListClass' | kcClass) : ''">
      @for(provider of kcContext.social.providers; track provider; let idx = $index) {
      <li (key)="provider.alias">
        <a [id]="provider.alias"
          [class]="('kcFormSocialAccountListButtonClass' | kcClass) && kcContext.social.providers.length > 3 ? ('kcFormSocialAccountGridItem' | kcClass) : ''"
          type="button" [href]="provider.loginUrl"></a>
      </li>
      }
    </ul>
  </div>
  }
</ng-template>


<div id="kc-form">
  <div id="kc-form-wrapper">
    <!-- login.component.html -->
    @if(this.kcContext.realm.password) {
    <form id="kc-form-login" (onSubmit)="kcContext.login.disabled" [action]="kcContext.url.loginAction" method="post">
      @if(!kcContext.usernameHidden) {
      <div [class]="('kcFormGroupClass' | kcClass)">
        <label for="username" [class]="('kcLabelClass' | kcClass)">
          @if(!kcContext.realm.loginWithEmailAllowed) {
          {{i18n.msgStr("username")}}
          }
          @else if(!kcContext.realm.registrationEmailAsUsername) {
          {{i18n.msgStr("usernameOrEmail")}}
          }
          @else {
          {{i18n.msgStr("email")}}
          }
        </label>
        <input tabIndex="2" id="username" [class]="('kcLabelClass' | kcClass)" name="username" type="text" autofocus
          [value]="kcContext.login.username"
          (aria-invalid)="kcContext.messagesPerField.existsError('username', 'password')" />
        @if(kcContext.messagesPerField.existsError('username', 'password')) {
        <span id="input-error" [class]="('kcInputErrorMessageClass' | kcClass)" aria-live="polite"
          [innerHTML]="kcContext.messagesPerField.getFirstError('username', 'password') | sanitizeHtml"></span>
        }
      </div>
      }

      <div [class]="'kcFormGroupClass' | kcClass">
        <label for="password" [class]="('kcLabelClass' | kcClass)">
          {{i18n.msgStr("password")}}
        </label>
        <input tabIndex="3" id="password" [class]="('kcInputClass' | kcClass)" name="password" type="password"
          autocomplete="off" />
        @if(kcContext.messagesPerField.existsError('username', 'password')) {
        <span id="input-error" [class]="('kcInputErrorMessageClass' | kcClass)" aria-live="polite"
          [innerHTML]="kcContext.messagesPerField.getFirstError('username', 'password') | sanitizeHtml"></span>
        }
      </div>

      <div [class]="('kcFormGroupClass' | kcClass) + ' ' + ('kcFormSettingClass' | kcClass)">
        <div id="kc-form-options">
          @if (kcContext.realm.rememberMe && !kcContext.usernameHidden) {
          <div class="checkbox">
            <label>
              <input tabIndex="3" id="rememberMe" name="rememberMe" type="checkbox"
                [checked]="kcContext.login.rememberMe === 'on'" />
              Login merken
            </label>
          </div>
          }
          @if (kcContext.realm.registrationAllowed) {
          <div [class]="('kcFormOptionsWrapperClass' | kcClass)">
            <span>
              <a tabIndex="5" [href]="kcContext.url.loginResetCredentialsUrl">Passwort vergessen</a>
            </span>
          </div>
          }
        </div>
      </div>
      <div id="kc-form-buttons" [class]="('kcFormGroupClass' | kcClass)">
        <input type="hidden" id="id-hidden-input" name="credentialId" [value]="kcContext.auth?.selectedCredential" />
        <input tabIndex="4"
          [class]="('kcButtonClass' | kcClass) + ' ' + ('kcButtonPrimaryClass' | kcClass) + ' ' + ('kcButtonBlockClass' | kcClass) + ' ' + ('kcButtonLargeClass' | kcClass)"
          name="login" id="kc-login" type="submit" value="Einloggen" [disabled]="kcContext.isLoginButtonDisabled" />
      </div>
    </form>
    }


  </div>
</div>
}