@let url = kcContext.url;
@let auth = kcContext.auth;
<ng-template #headerNode>
    {{ i18n.msgStr('emailForgotTitle') }}
</ng-template>
<ng-template #infoNode>
    @let realm = kcContext.realm;
    <span [kcClass]="'kcLoginMainFooterHelperText'">
        @if (realm.duplicateEmailsAllowed) {
            {{ i18n.msgStr('emailInstructionUsername') }}
        } @else {
            {{ i18n.msgStr('emailInstruction') }}
        }
    </span>
</ng-template>

<form
    id="kc-reset-password-form"
    method="post"
    [kcClass]="'kcFormClass'"
    [action]="url.loginAction"
>
    <kc-input
        name="username"
        [label]="usernameLabel"
        [value]="auth.attemptedUsername || ''"
        [autofocus]="true"
    ></kc-input>
    <kc-action-group>
        <kc-button
            id="kc-form-buttons"
            label="doSubmit"
            [classList]="['kcButtonPrimaryClass', 'kcButtonBlockClass']"
        ></kc-button>
        <kc-button-link
            [href]="url.loginUrl"
            label="backToLogin"
            [classList]="['kcButtonSecondaryClass', 'kcButtonBlockClass']"
        ></kc-button-link>
    </kc-action-group>
</form>
