@let url = kcContext.url;
@let auth = kcContext.auth;
<ng-template #headerNode>
  {{ i18n.msgStr('emailForgotTitle') }}
</ng-template>
<ng-template #infoNode>
  @let realm = kcContext.realm;
  <span [kcClass]="'kcLoginMainFooterHelperText'">
        @if (realm.duplicateEmailsAllowed) {
          {{ i18n.msgStr('emailInstructionUsername') }}
        } @else {
          {{ i18n.msgStr('emailInstruction') }}
        }
    </span>
</ng-template>

<form
  id="kc-reset-password-form"
  method="post"
  [kcClass]="'kcFormClass'"
  [action]="url.loginAction"
>
  <kc-input
    name="username"
    [label]="usernameLabel"
    [value]="auth.attemptedUsername || ''"
    [autofocus]="true"
  ></kc-input>
  <kc-action-group>
    <button
      id="kc-form-buttons"
      [kcClass]="['kcButtonPrimaryClass', 'kcButtonBlockClass']"
    >
      {{ i18n.msgStr('doSubmit') }}
    </button>
    <button
      [kcClass]="['kcButtonSecondaryClass', 'kcButtonBlockClass']"
    >
      {{ i18n.msgStr('doCancel') }}
    </button>
  </kc-action-group>
</form>
