<!--
 return (
        <Template
            kcContext={kcContext}
            i18n={i18n}
            doUseDefaultCss={doUseDefaultCss}
            classes={classes}
            displayInfo
            displayMessage={!messagesPerField.existsError("username")}
            infoNode={realm.duplicateEmailsAllowed ? msg("emailInstructionUsername") : msg("emailInstruction")}
            headerNode={msg("emailForgotTitle")}
        >
            <form id="kc-reset-password-form" className={kcClsx("kcFormClass")} action={url.loginAction} method="post">
                <div className={kcClsx("kcFormGroupClass")}>
                    <div className={kcClsx("kcLabelWrapperClass")}>
                        <label htmlFor="username" className={kcClsx("kcLabelClass")}>
                            {!realm.loginWithEmailAllowed
                                ? msg("username")
                                : !realm.registrationEmailAsUsername
                                  ? msg("usernameOrEmail")
                                  : msg("email")}
                        </label>
                    </div>
                    <div className={kcClsx("kcInputWrapperClass")}>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            className={kcClsx("kcInputClass")}
                            autoFocus
                            defaultValue={auth.attemptedUsername ?? ""}
                            aria-invalid={messagesPerField.existsError("username")}
                        />
                        {messagesPerField.existsError("username") && (
                            <span
                                id="input-error-username"
                                className={kcClsx("kcInputErrorMessageClass")}
                                aria-live="polite"
                                dangerouslySetInnerHTML={{
                                    __html: messagesPerField.get("username")
                                }}
                            />
                        )}
                    </div>
                </div>
                <div className={kcClsx("kcFormGroupClass", "kcFormSettingClass")}>
                    <div id="kc-form-options" className={kcClsx("kcFormOptionsClass")}>
                        <div className={kcClsx("kcFormOptionsWrapperClass")}>
                            <span>
                                <a href={url.loginUrl}>{msg("backToLogin")}</a>
                            </span>
                        </div>
                    </div>

                    <div id="kc-form-buttons" className={kcClsx("kcFormButtonsClass")}>
                        <input
                            className={kcClsx("kcButtonClass", "kcButtonPrimaryClass", "kcButtonBlockClass", "kcButtonLargeClass")}
                            type="submit"
                            value={msgStr("doSubmit")}
                        />
                    </div>
                </div>
            </form>
        </Template>
-->


@if(i18n$ | async; as i18n) {
    <ng-template #headerNode>
      {{i18n.msgStr("emailForgotTitle")}}
    </ng-template>
  
    <ng-template #infoNode>
      {{ kcContext.realm.duplicateEmailsAllowed ? i18n.msgStr("emailInstructionUsername") : i18n.msgStr("emailInstruction") }}
    </ng-template>
  
    <form id="kc-reset-password-form" [class]="('kcFormClass' | kcClass)" action="{{ kcContext.url.loginAction }}" method="post">
      <div [class]="('kcFormGroupClass' | kcClass)">
        <div [class]="('kcLabelWrapperClass' | kcClass)">
          <label for="username" [class]="('kcLabelClass' | kcClass)">
            @if (!kcContext.realm.loginWithEmailAllowed) {
              {{ i18n.msgStr("username") }}
            } @else if (!kcContext.realm.registrationEmailAsUsername) {
              {{ i18n.msgStr("usernameOrEmail") }}
            } @else {
              {{ i18n.msgStr("email") }}
            }
          </label>
        </div>
        <div [class]="('kcInputWrapperClass' | kcClass)">
          <input
            type="text"
            id="username"
            name="username"
            [class]="('kcInputClass' | kcClass)"
            autofocus
            [value]="kcContext.auth?.attemptedUsername ?? ''"
            [attr.aria-invalid]="kcContext.messagesPerField.existsError('username')"
          />
          @if (kcContext.messagesPerField.existsError('username')) {
            <span
              id="input-error-username"
              [class]="('kcInputErrorMessageClass' | kcClass)"
              aria-live="polite"
              [innerHTML]="kcContext.messagesPerField.get('username') | sanitizeHtml"
            >
            </span>
          }
        </div>
      </div>
      <div [class]="('kcFormGroupClass' | kcClass) + ' ' + ('kcFormSettingClass' | kcClass)">
        <div id="kc-form-options" [class]="('kcFormOptionsClass' | kcClass)">
        </div>
      </div>
    </form>
  }