
@if(i18nService.i18n$ | async; as i18n) {
<ng-template #headerNode>
  {{i18n.msgStr("emailForgotTitle")}}
</ng-template>

<ng-template #infoNode>
  {{ kcContext.realm.duplicateEmailsAllowed ?
  i18n.msgStr("emailInstructionUsername") : i18n.msgStr("emailInstruction") }}
</ng-template>

<form
  id="kc-reset-password-form"
  [class]="('kcFormClass' | kcClass)"
  action="{{ kcContext.url.loginAction }}"
  method="post"
>
  <div [class]="('kcFormGroupClass' | kcClass)">
    <div [class]="('kcLabelWrapperClass' | kcClass)">
      <label for="username" [class]="('kcLabelClass' | kcClass)">
        @if (!kcContext.realm.loginWithEmailAllowed) { {{
        i18n.msgStr("username") }} } @else if
        (!kcContext.realm.registrationEmailAsUsername) { {{
        i18n.msgStr("usernameOrEmail") }} } @else { {{ i18n.msgStr("email") }} }
      </label>
    </div>
    <div [class]="('kcInputWrapperClass' | kcClass)">
      <input
        type="text"
        id="username"
        name="username"
        [class]="('kcInputClass' | kcClass)"
        autofocus
        [value]="kcContext.auth?.attemptedUsername ?? ''"
        [attr.aria-invalid]="kcContext.messagesPerField.existsError('username')"
      />
      @if (kcContext.messagesPerField.existsError('username')) {
      <span
        id="input-error-username"
        [class]="('kcInputErrorMessageClass' | kcClass)"
        aria-live="polite"
        [innerHTML]="kcContext.messagesPerField.get('username') | sanitizeHtml"
      >
      </span>
      }
    </div>
  </div>
  <div
    [class]="('kcFormGroupClass' | kcClass) + ' ' + ('kcFormSettingClass' | kcClass)"
  >
    <div id="kc-form-options" [class]="('kcFormOptionsClass' | kcClass)">
      <div [class]="('kcFormOptionsWrapperClass' | kcClass)">
        <span>
          <a href="{{ kcContext.url.loginUrl }}"
            >{{ i18n.msgStr("backToLogin") }}</a
          >
        </span>
      </div>
    </div>
  <div id="kc-form-buttons" [class]="('kcFormButtonsClass' | kcClass)">
    <input
      [class]="('kcButtonClass' | kcClass) + ' ' + ('kcButtonPrimaryClass' | kcClass) + ' ' + ('kcButtonBlockClass' | kcClass) + ' ' + ('kcButtonLargeClass' | kcClass)"
      type="submit"
      [value]="i18n.msgStr('doSubmit')"
    />
  </div>
  </div>
</form>
}
